%form{name: "search-form", id: "search-form"}
  %input{type: "search", placeholder: "Find the best restaurants", id: "search-field", autofocus: 'true', required: 'true'}

%section.hidden.animated.card-0

%section.hidden.animated.card-1

%section.hidden.animated.card-2